/* Resets */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body {
    margin: 0;
    background-color: rgb(96, 69, 120);
}
/* La calculadora */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(184, 8, 137);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px rgba(0, 0, 0, 0.4);
}
/* Botones */
button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: rgb(139, 0, 102);
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.4), -5px -5px 15px 3px #9000ff1f;
}
button:active{
    background-color: rgb(72, 0, 103);
}
button:focus {
    outline: none;
}
/* Botones para limpiar y borrar y el de division que tienen que ser mas grandes */
.col-2 {
    grid-column: span 2;
}
/* Pantalla de la calculadora */
.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(68, 68, 68);
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.4);
}
/* Numeros que salen en la pantallita */
#valor-actual{
    font-size: 1.5em;
}
#valor-anterior {
    font-size: 2em;
}